<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<title></title>
	<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div id="app" class="container">
		<h2>{{titulo}}</h2>
		<div class="row">
			<div class="col-3">
				<!-- Columna izquierda -->
				<!-- Componente: buscar producto -->
				<div class="buscadorProducto">
					<div class="row">
						<div class="col-8">
							<input type="text" class="form-control" v-model="buscar" placeholder="Buscar producto">
						</div>
						<div class="col-4">
							<button class="btn btn-primary" v-on:click="buscarProducto()">Buscar</button>
						</div>
					</div>
				</div>
				<!-- Lista de productos -->
				<div class="row">
					<!-- Cada producto -->
					<div class="productoItem" v-if="resultados.length > 0" v-for="producto in resultados">
						<p>{{producto.nombre}}</p>
						<div class="row">
							<div class="col-4">
								<input type="number" class="form-control" placeholder="Precio" v-model="producto.precio" disabled="">
							</div>
							<div class="col-4">
								<input type="number" class="form-control" placeholder="Cantidades" v-model="producto.cantidad">
							</div>
							<div class="col-4">
								<button class="btn btn-success" v-on:click="agregarProducto(producto)">Agregar</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-9">
				<!-- Columna derecha -->
				<div class="row">
					<div class="col-10"></div>
					<div class="col-2">
						<input type="number" placeholder="Impuestos" v-model="imp" class="form-control">
					</div>
				</div>
				<div class="row">
					<table class="table">
						<tbody>
							<tr v-for="producto in agregados">
								<td class="col-7">
									<p>{{producto.nombre}}</p>
								</td>
								<td class="col-1">
									<input type="number" v-model="producto.precio" class="form-control" value="1000" disabled="">
								</td>
								<td class="col-2">
									<input type="number" v-model="producto.cantidad" class="form-control">
								</td>
								<td class="col-2">
									<button class="btn btn-danger">Quitar</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="row">
					<div class="col">
						<p>Subtotal $ {{subTotal}}</p>
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						<p>Total $ {{total}}</p>
					</div>
					<div class="col-8">
						<button class="btn btn-success">Cerrar CAJA</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="app.js"></script>
</body>
</html>